<div class="container">
    <div class="col-12">
        <h2>Đăng nhập</h2>
        <form class="was-validated" (ngSubmit)="onSignin(f)" #f="ngForm">
            <div class="was-validated; form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control " id="email" placeholder="Email" name='email' ngModel>
            </div>
            <div class="was-validated, form-group">
                <label for="password">Mật khẩu</label>
                <input type="password" id="password" class="form-control" placeholder="Password"
                       name='password' ngModel minlength="6">
            </div>
            <button [disabled]="!f.valid" type="submit" class="btn btn-primary">Đăng nhập</button>
            <button [routerLink]="['/house']" class="btn btn-secondary">Quay lại</button>
        </form>
    </div>
</div>

