  <div class="card sticky-top">
    <div class="card-header">
      {{house_price?.toLocaleString() + 'VND ngày/đêm'}}
    </div>
    <div class="container">
      <form (ngSubmit)="onSubmit()" (change)="getTotalPrice()" [formGroup]="orderForm">
        <div class="form-group">
          <div class="form-row" style="margin-top: 15px">
            <div class="form-group col-md-6">
              <label>NGÀY ĐẾN </label>
              <input type="date" class="form-control" name="checkIn"
                     formControlName="checkIn">
            </div>
            <div class="form-group col-md-6">
              <label>NGÀY ĐI </label>
              <input type="date" class="form-control" name="checkOut"
                     formControlName="checkOut">
            </div>
          </div>
          <input type="hidden" name="house_id" formControlName="house_id" [value]="house_id">
        </div>
        <div *ngIf="date; else total_price">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              Tổng: {{(date * house_price).toLocaleString()}} VND
            </li>
          </ul>
        </div>
        <ng-template #total_price>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              Tổng: 0 VND
            </li>
          </ul>
        </ng-template>
        <div *ngIf="message">
          <p style="background-color: aquamarine">{{message}}</p>
        </div>
        <div class="text-center" style="margin-top: 20px; margin-bottom: 20px">
          <button type="submit" [disabled]="!date" class="btn btn-danger">Đặt ngay</button>
        </div>

        <p class="m-0"><i class="iconroom-phone-line" aria-hidden="true"></i> Gọi <a
                href="tel:0983692323"><b>0983692323</b></a>
          để được hỗ trợ 24/7 </p>
        <p style="margin-top: 20px"><i class="iconroom-shape" aria-hidden="true"></i> Nhắn tin
          <a
                  target="_blank"
                  href="https://www.facebook.com/messages/t/2415471875161293"><b>HomeCodeGym</b></a>
          để được hỗ trợ 24/7 </p>
      </form>
    </div>

  </div>

