.shake:hover {
    animation: shake 0.5s;
    animation-iteration-count: unset;
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    /*70% { transform: translate(3px, 1px) rotate(-1deg); }*/
    /*80% { transform: translate(-1px, -1px) rotate(1deg); }*/
    /*90% { transform: translate(1px, 2px) rotate(0deg); }*/
    /*100% { transform: translate(1px, -2px) rotate(-1deg); }*/
}


.status {
    width: 130px;
    height: 25px;
    -moz-border-radius: 80px / 40px;
    -webkit-border-radius: 120px / 40px;
    border-radius: 90px / 90px;
}
#home {
    background: url(https://znews-photo.zadn.vn/Uploaded/nqgvzn_guhyxg/2017_08_31/COVERArtboard_1_1.jpg) no-repeat center center fixed;
    display: table;
    /*height: 700px;*/
    margin-top: 1px;
    position: relative;
    width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.view {
    margin-top: 600px;
}
#services {
    background-color: #306d9f;
    color: #ffffff;
}
#services .glyphicon {
    border: 2px solid #FFFFFF;
    border-radius: 50%;
    display: inline-block;
    font-size: 60px;
    height: 140px;
    line-height: 140px;
    text-align: center;
    vertical-align: middle;
    width: 140px;
}
.search {
    height: 60px;
    /*margin-top: 20px;*/
    background-color: #ffffff ;
}
