<!-- first section - Home -->
<div id="home" class="home">
    <div class="view text-center sticky-top">
        <h1>WelCome</h1>
        <h3>To HomeCodeGym</h3>
        <a href="#" class="btn btn-default btn-lg">Continue</a>
    </div>
</div>
<!-- /first section -->
<!--search-->
<div class="search-T sticky-top">
    <div class="tcl" style="margin-top: 10px">
        <div class="row">
            <div class="col-md-2 col-sm-4 col-xs-12"></div>
            <div class="col-md-8 col-sm-4 col-xs-12">
                <div class="row">
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <input type="text" class="form-control" placeholder="Nhập tên thành phố hoặc Homestay">
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <form class="form-row">
                            <div class="col-md-6 col-sm-6 col-xs-12"><input type="date" class="form-control"
                                                                            id="checkin"></div>
                            <div class="col-md-6 col-sm-6 col-xs-12"><input type="date" class="form-control"
                                                                            id="checkout"></div>
                        </form>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <form (ngSubmit)="searchHouse()" (change)="inputSearch()" [formGroup]="searchForm">
                            <div class="form-row align-items-center">
                                <div class="col-auto my-1">
                                    <select class="custom-select mr-sm-2"
                                            name="keyword" formControlName="keyword" [value]="0">
                                        <option value="0">Tìm kiếm theo giá tiền</option>
                                        <option value="1">Từ 5 trăm - 1 triệu</option>
                                        <option value="2">Từ 1 triệu - 1.5 triệu</option>
                                        <option value="3">Từ 1.5 triệu - 2 triệu</option>
                                        <option value="4">Từ 2 triệu - 2.5 triệu</option>
                                    </select>
                                </div>
                                <div class="col-auto my-1">
                                    <button class="btn btn-outline-danger my-2 my-sm-0" type="submit"
                                            [disabled]="keyword == 0">Tìm kiếm
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-md-1 col-sm-4 col-xs-12">
        </div>
    </div>
    <div class="box-txt"><p>
        <!--#-->
    </p></div>
</div>
<!--/search-->

<div class="c" style=" margin-bottom: 50px;">
    <div class="row">
        <div class="col-md-1 col-sm-4 col-xs-12">
            <div class="column"><!--#--></div>
        </div>

        <div class="col-md-10 col-sm-4 col-xs-12">
            <div class="column">
                <div class="row">
                    <!--row1-->
                    <div class="col-md-3 col-sm-6 col-xs-12" style="margin-top: 30px">
                        <div class="column2">

                            <!--follow-->
                            <div class="p-3 mb-2 bg-info text-white">
                                <h4>Đăng ký nhận tin khuyến mãi từ HomeCodeGym </h4>
                                <p>Đăng ký để nhận ưu đãi qua email, với mức giảm giá đến 70%.</p>
                                <div class="form-group">
                                    <input type="email" class="form-control"
                                           placeholder="name@example.com">
                                </div>
                                <div class="buttons col-md col-sm-6 col-xs-12">
                                    <button type="button" class="btn btn-light" style="margin-left: 100px">Đăng
                                        ký
                                    </button>
                                </div>
                            </div>
                            <!--end_follow-->
                            <div>
                                <div class="p-3 mb-2 bg-light text-dark" style="margin-top: 10px">
                                    Bạn thích chỗ nghỉ này, nhưng vẫn chưa chắc chắn?
                                    <div class="col-md col-sm-6 col-xs-12">
                                        <button type="button"
                                                class="btn btn-primary btn-lg col-md col-sm-6 col-xs-12 btn-block">
                                            Xem
                                            các nhà tương tự
                                        </button>
                                    </div>
                                </div>

                            </div>
                            <!--map-->
                            <!--<div class="p-3 mb-2 bg-light text-dark" style="margin-top: 10px">-->
                                <!--<h4 style="color: red">Địa chỉ HomeCodeGym </h4>-->


                                <!--<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3723.9265632499687!2d105.76612145093053!3d21.035624192850133!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x313454b9444c676b%3A0xe713200541b7456d!2sCodeGym!5e0!3m2!1svi!2s!4v1547885473894"-->
                                        <!--frameborder="0" style="border:0"-->
                                        <!--allowfullscreen></iframe>-->

                            <!--</div>-->
                            <!--end_map-->
                            <div class="fb p-3 mb-2 bg-light text-dark" style="margin-top: 10px">
                                <div class="row">
                                    <div class="col-1"></div>
                                    <div class="col-10">
                                        <h4 class="text-center" style="color: red;">Page HomeCodeGym </h4>

                                        <iframe style="width: 100%; height: 250px; border: 0"
                                                src="https://www.facebook.com/plugins/page.php?href= https://www.facebook.com/codegym.vn//&tabs=timeline&width=250&height=331&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId"
                                                frameborder="0" allowtransparency="true"></iframe>

                                    </div>
                                    <div class="col-1"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--end_row1-->

                    <!--row2-->
                    <div class="col-md-9 col-sm-6 col-xs-12" style="margin-top: 10px">
                        <h4 class="text-uppercase font-weight-bold"
                            style="margin-top: 30px; margin-bottom: 30px">Điểm đến hàng đầu </h4>
                        <div class="column2">
                            <div class="row">
                                <div class="col-6 col-md-4">
                                    <a class="image-hover img-roll" href="#!">
                                        <img alt="Điểm đến hàng đầu" height="270px"
                                             src="http://tuvandulich.vn/data/News/image2.jpg"
                                             class="img-1">
                                        <img alt="Điểm đến hàng đầu" height="270px"
                                             src="https://pystravel.vn/wp-content/uploads/2017/07/bai-dong-pys-travel0201.jpg"
                                             class="img-2">
                                    </a>
                                    <a href="#">
                                        <div class="DestinationsTxt">
                                            <h3>Thanh Hóa </h3>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-6 col-md-4">
                                    <a class="image-hover img-roll" href="#!">
                                        <img height="270px" alt="Điểm đến hàng đầu"
                                             src="https://huehomestay.net/wp-content/uploads/2018/02/cover-min.png"
                                             class="img-1">
                                        <img height="270px" alt="Điểm đến hàng đầu"
                                             src="https://cdn.luxstay.com/rooms/14928/medium/1536720023_40231962_318176195398368_7230822152872656896_n.jpg"
                                             class="img-2">
                                    </a>
                                    <a href="#">
                                        <div class="DestinationsTxt">
                                            <h3>Huế</h3>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-6 col-md-4">
                                    <a class="image-hover img-roll" href="#!">
                                        <img height="270px" alt="Điểm đến hàng đầu"
                                             src="https://image-us.24h.com.vn/upload/3-2018/images/2018-07-17/Kham-pha-4-homestay-dep-quen-loi-ve-tai-Sa-Pa-1-1531819672-672-width650height340.jpg"
                                             class="img-1">
                                        <img height="270px" alt="Điểm đến hàng đầu"
                                             src="https://www.flynow.vn/blog/wp-content/uploads/2016/11/The-Haven-Sapa-Camp-Site-nha-nghi-gia-re-tai-sapa.jpg"
                                             class="img-2">
                                    </a>
                                    <a href="#">
                                        <div class="DestinationsTxt">
                                            <h3>Sa Pa </h3>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-6 col-md-4">
                                    <a class="image-hover img-roll" href="#!">
                                        <img height="270px" alt="Điểm đến hàng đầu"
                                             src="http://media.we25.vn/images/homstay-thung-ruou2.jpg"
                                             class="img-1">
                                        <img height="270px" alt="Điểm đến hàng đầu"
                                             src="https://dulichdalat.pro/wp-content/uploads/2018/10/hoa-lavender-da-lat.jpg"
                                             class="img-2">
                                    </a>
                                    <a href="#">
                                        <div class="DestinationsTxt">
                                            <h3>Đà Lạt</h3>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-6 col-md-4">
                                    <a class="image-hover img-roll" href="#!">
                                        <img height="270px" alt="Điểm đến hàng đầu"
                                             src="http://pystravel.vn/wp-content/uploads/2017/02/nen-di-dau-choi-30-4-pys-travel0131.jpg"
                                             class="img-1">
                                        <img height="270px" alt="Điểm đến hàng đầu"
                                             src="http://haiphongcuoi.com/upload/baiviet/30%20x%2020%20(1).JPG"
                                             class="img-2">
                                    </a>
                                    <a href="#">
                                        <div class="DestinationsTxt">
                                            <h3> Hải Phòng </h3>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-6 col-md-4">
                                    <a class="image-hover img-roll" href="#!">
                                        <img height="270px"
                                             alt="Điểm đến hàng đầu"
                                             src="http://mrhanhphuc.com/uploaded/uploads/2018/03/chup-anh-cuoi-o-nha-tho-lon-ha-noi.jpg"
                                             class="img-1">
                                        <img height="270px"
                                             alt="Điểm đến hàng đầu"
                                             src="https://znews-photo.zadn.vn/w660/Uploaded/ywfau/2014_02_27/cauLB2.jpg"
                                             class="img-2">
                                    </a>
                                    <a href="#">
                                        <div class="DestinationsTxt">
                                            <h3>Hà Nội</h3>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-6 col-md-4">
                                    <a class="image-hover img-roll" href="#!">
                                        <img height="270px" alt="Điểm đến hàng đầu"
                                             src="https://www.vntrip.vn/cam-nang/wp-content/uploads/2017/03/Long-Cung-la-mot-resort-nam-gan-canh-bien.jpeg"
                                             class="img-1">
                                        <img height="270px" alt="Điểm đến hàng đầu"
                                             src="https://mia.vn/uploads/images/1507108554-du-lich-mua-thap-diem-duoc-gi-va-mat-gi-1.jpg"
                                             class="img-2">
                                    </a>
                                    <a href="#">
                                        <div class="DestinationsTxt">
                                            <h3>Vũng Tàu</h3>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-6 col-md-4">
                                    <a class="image-hover img-roll" href="#!">
                                        <img height="270px" alt="Điểm đến hàng đầu"
                                             src="http://tintuc.khanhhoa79.com/upload/media/entries/2017-05/04/11124-0-d4be24e044727c4212f46fec4df11f17.jpg"
                                             class="img-1">
                                        <img height="270px" alt="Điểm đến hàng đầu"
                                             src="http://cdn01.diadiemanuong.com/ddau/640x/ghim-lien-8-diem-dep-nhat-vn-thich-hop-cho-couple-huong-tuan-trang-mat-aa771320636368581142430101.jpg"
                                             class="img-2">
                                    </a>
                                    <a href="#">
                                        <div class="DestinationsTxt">
                                            <h3>Khánh Hòa</h3>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-6 col-md-4">
                                    <a class="image-hover img-roll" href="#!">
                                        <img height="270px" alt="Điểm đến hàng đầu"
                                             src="https://media.foody.vn/images/beach-02jpg-182029.jpg"
                                             class="img-1">
                                        <img height="270px" alt="Điểm đến hàng đầu"
                                             src="http://thegioiphunu.net/wp-content/uploads/2014/01/5-dia-diem-du-lich-tuan-trang-mat-ly-tuong-1.jpg"
                                             class="img-2">

                                    </a>
                                    <a href="#">
                                        <div class="DestinationsTxt">
                                            <h3>Phú Quốc</h3>
                                        </div>
                                    </a>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-1 col-sm-4 col-xs-12">
            <div class="column"><!--#--></div>
        </div>
    </div>
</div>
<!--Q/cao-->
<div class="container-fluid" style="margin-top: 30px;margin-bottom: 30px">
    <div class="row">
        <div class="col-md-1 col-sm-4 col-xs-12">
            <!--#-->
        </div>
        <div class="col-md-10 col-sm-4 col-xs-12">
            <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img class="d-block w-100" src="https://cdn.luxstay.com/home/event/event_13_1547009294.jpg"
                             alt="First slide">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100" src="https://cdn.luxstay.com/home/event/event_1_1547106326.jpg"
                             alt="Second slide">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100" src="https://cdn.luxstay.com/home/event/event_13_1547009294.jpg"
                             alt="Third slide">
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
        <div class="col-md-1 col-sm-4 col-xs-12">
            <!--#-->
        </div>
    </div>
</div>
<!--end_Q/cao-->


<!-- Footer -->
<div>
    <footer class="page-footer font-small unique-color-dark" style="margin-top: 20px">

        <!--introduce-->
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-1 col-sm-4 col-xs-12">
                    <!--#-->
                </div>


                <div class="col-md-10 col-sm-4 col-xs-12">
                    <h4 class="text-uppercase font-weight-bold"
                        style="margin-top: 30px; margin-bottom: 30px">Gợi ý từ
                        HomeCodeGym</h4>
                    <div class="row">
                        <div class="col-6 col-md-3 " *ngFor="let house of houses">

                            <img style="width: 100%" alt="Điểm đến hàng đầu" class=" lazyloaded shake"
                                 src="http://127.0.0.1:8000/storage/{{house.image[0]}}" height="150">
                            <a style="color: black" [routerLink]="['/show', house.id]"><h3>{{house.title}}</h3></a>
                            <div class="price">{{house.price.toLocaleString('vi') + 'VND ngày/đêm'}}</div>


                            <div *ngIf="house.status === 'Chưa cho thuê';else status">
                                <div class="status"
                                     style="background-color: lightgreen; text-align: center;  margin-bottom: 20px">{{house.status}}</div>
                            </div>
                            <ng-template #status>
                                <div class="status"
                                     style="background-color: chartreuse; text-align: center;  margin-bottom: 20px">{{house.status}}</div>
                            </ng-template>
                        </div>
                    </div>


                </div>
                <div class="col-md-1 col-sm-4 col-xs-12">
                    <!--#-->
                </div>
            </div>
        </div>
        <!--end_introduce-->

        <!--introduce-->
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-1 col-sm-4 col-xs-12">
                    <!--#-->
                </div>
                <div class="col-md-10 col-sm-4 col-xs-12">
                    <div class="row">
                        <div class="col-4 col-sm-4 col-xs-12">
                            <div class="advantages-thumb"><img class=" lazyloaded"
                                                               data-src="https://cdn.luxstay.com/home/talk/talk_11072018100744.png"
                                                               src="https://cdn.luxstay.com/home/talk/talk_11072018100744.png">
                            </div>
                            <div class="advantages-txt"><h3>Lần đầu tiên tại Việt Nam</h3>
                                <p>Ứng dụng cho thuê chỗ ở chuyên nghiệp, đặt phòng tin cậy cho HomeCodeGym cao cấp, căn
                                    hộ dịch vụ
                                    và
                                    biệt thự nghỉ dưỡng.</p></div>

                        </div>
                        <div class="col-4 col-sm-4 col-xs-12">
                            <div class="advantages-thumb"><img class=" lazyloaded"
                                                               data-src="https://cdn.luxstay.com/home/talk/talk_5_1543569870.png"
                                                               src="https://cdn.luxstay.com/home/talk/talk_5_1543569870.png">
                            </div>
                            <div class="advantages-txt"><h3>Sống như người bản địa</h3>
                                <p>Trải nghiệm không gian bản địa để chuyến du lịch có nhiều màu sắc. Chúng tôi mang đến
                                    những trải
                                    nghiệm hoàn toàn mới nhưng vẫn đảm bảo sự tiện lợi và riêng tư tuyệt đối.</p></div>

                        </div>
                        <div class="col-4 col-sm-4 col-xs-12">
                            <div class="advantages-thumb"><img class=" lazyloaded"
                                                               data-src="https://cdn.luxstay.com/home/talk/talk_11072018100842.png"
                                                               src="https://cdn.luxstay.com/home/talk/talk_11072018100842.png">
                            </div>
                            <div class="advantages-txt"><h3>Mỗi căn hộ một cá tính riêng</h3>
                                <p>Từ những căn hộ hiện đại, biệt thự biệt lập cho đến những ngôi nhà truyền thống,
                                    chúng tôi không
                                    ngừng mở rộng danh sách để đem đến sự lựa chọn đa dạng cho khách hàng.</p></div>

                        </div>
                    </div>
                </div>
                <div class="col-md-1 col-sm-4 col-xs-12">
                    <!--#-->
                </div>
            </div>
        </div>
        <!--end_introduce-->
        <!--end_row-->

    </footer>
</div>

